<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>admin.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDashboard</servlet-name>
        <servlet-class>user.UserDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>user.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>util.Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPhotoKeyword</servlet-name>
        <servlet-class>user.EditPhotoKeyword</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>photoSearch</servlet-name>
        <servlet-class>util.photoSearch</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>photoSearchResults</servlet-name>
        <servlet-class>util.photoSearchResults</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>readRequests</servlet-name>
        <servlet-class>user.readRequests</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>util.LogoutServlet</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceiveFileServlet</servlet-name>
        <servlet-class>user.ReceiveFileServlet</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>EditPermission</servlet-name>
        <servlet-class>user.EditPermission</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceiveDownloadForm</servlet-name>
        <servlet-class>user.ReceiveDownloadForm</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceiveEditKeyword</servlet-name>
        <servlet-class>user.ReceiveEditKeyword</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceiveEditPermission</servlet-name>
        <servlet-class>user.ReceiveEditPermission</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceiveAdminForm</servlet-name>
        <servlet-class>admin.ReceiveAdminForm</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceiveAdminAddUser</servlet-name>
        <servlet-class>admin.ReceiveAdminAddUser</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceiveChangeStatus</servlet-name>
        <servlet-class>admin.ReceiveChangeStatus</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceiveRemoveUser</servlet-name>
        <servlet-class>admin.ReceiveRemoveUser</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceiveRemoveImage</servlet-name>
        <servlet-class>user.ReceiveRemoveImage</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>ReceivePublicDownload</servlet-name>
        <servlet-class>util.ReceivePublicDownload</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDashboard</servlet-name>
        <url-pattern>/user/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/user/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPhotoKeyword</servlet-name>
        <url-pattern>/user/edit</url-pattern>
        <multipart-config/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>photoSearch</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>photoSearchResults</servlet-name>
        <url-pattern>/search_results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readRequests</servlet-name>
        <url-pattern>/user/respond</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveFileServlet</servlet-name>
        <url-pattern>/user/receive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPermission</servlet-name>
        <url-pattern>/user/permissions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveDownloadForm</servlet-name>
        <url-pattern>/user/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveEditKeyword</servlet-name>
        <url-pattern>/user/receive_edit_keyword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveEditPermission</servlet-name>
        <url-pattern>/user/receive_edit_permission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveAdminForm</servlet-name>
        <url-pattern>/admin/receive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveAdminAddUser</servlet-name>
        <url-pattern>/admin/add_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveChangeStatus</servlet-name>
        <url-pattern>/admin/receive_changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveRemoveUser</servlet-name>
        <url-pattern>/admin/receive_removeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveRemoveImage</servlet-name>
        <url-pattern>/user/receive_removeImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceivePublicDownload</servlet-name>
        <url-pattern>/public_download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
